/*/  Theme for NiKole Maxwell Domain /*/
/*
                    ---      Fonts   ---

Font  Master:
<link href="   " rel="stylesheet">[[ Replace ]]

[[ Update ]]
Main: 
Accent:

font-family: 'Lato', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Philosopher', sans-serif;

                        ---  Colors  ---
[[ Update ]]
Main: 
Accent:
    #2fea35 -- green; 
    #000000a6 -- translucent grey;
    #00ff90 - cornflower blue  [discontinued]
    #00ff90 - electric green mountain
    #ffffff -- white


*/

/*/     GENERAL PURPOSE: DEFAULTS     /*/

[[ Update ]]